import discord
from discord import app_commands
from discord.ext import commands
import os

intents = discord.Intents.default()
intents.members = True
bot = commands.Bot(command_prefix="!", intents=intents)

@bot.event
async def on_ready():
    await bot.tree.sync()
    print(f'Bot is ready and commands synced: {bot.user}')

@bot.event
async def on_member_join(member):
    # Security: منع الحسابات بدون صورة شخصية
    if member.avatar is None:
        try:
            await member.kick(reason="Security: No avatar detected.")
        except:
            pass

@bot.tree.command(name="org", description="Creates an organization channel")
async def org(interaction: discord.Interaction):
    # إنشاء قناة نصية مباشرة بدون أسئلة
    channel = await interaction.guild.create_text_channel('organization')
    await interaction.response.send_message(f"Channel {channel.mention} created.")

bot.run(os.getenv('MTUyMDIzMjk2MzY0MjYyNjA3OA.GtTIH0.RT979wD4tm4RXScCYf_0cBtOF7FcJQnEIZFMLQ'))